n8n_workflows/main_workflow.json
{
  "name": "NUNULIA — Subscription Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-expire-sellers",
      "name": "CRON 02h00 — expireSellers",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-aurburundi-e2fe2.cloudfunctions.net/expireSellers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{NUNULIA_SECRET_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-expire-sellers",
      "name": "POST expireSellers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "cron-delete-products",
      "name": "CRON 03h00 — deleteProducts",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-aurburundi-e2fe2.cloudfunctions.net/deleteProducts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{NUNULIA_SECRET_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-delete-products",
      "name": "POST deleteProducts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nunulia-approve-renewal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-approve-renewal",
      "name": "Webhook — approveRenewal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600],
      "webhookId": "nunulia-approve-renewal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-aurburundi-e2fe2.cloudfunctions.net/approveRenewal",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{NUNULIA_SECRET_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vendorId",
              "value": "={{ $json.body.vendorId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-approve-renewal",
      "name": "POST approveRenewal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 600]
    }
  ],
  "connections": {
    "CRON 02h00 — expireSellers": {
      "main": [
        [
          {
            "node": "POST expireSellers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON 03h00 — deleteProducts": {
      "main": [
        [
          {
            "node": "POST deleteProducts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — approveRenewal": {
      "main": [
        [
          {
            "node": "POST approveRenewal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST approveRenewal": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["NUNULIA", "Firebase", "Subscriptions"],
  "triggerCount": 3,
  "updatedAt": "2026-04-04T00:00:00.000Z",
  "versionId": "1"
}
